.foodList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.foodBox {
  width: 18%;
  border: orange dashed 1px;
  text-align: center;
  text-align-last: center;
  padding: 0 0 1em 0;
  margin: 1em 1em;
}